{% extends "base.html" %}

{% block content %}

<script>
jQuery(document).ready(function() { 
}); 
</script>

    <div class="row-fluid">
        <div class="span12">
            <p style="text-align:right;">
                <a class="btn" href="/account/logout">Logout</a>
            </p>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
          <p>Interview action plan additional questions for interviewer to complete goes here</p>
        </div>
    </div>
    
{% endblock %}
