input.parsley-success, textarea.parsley-success, select.parsley-success {
    color: #468847 !important;
    background-color: #DFF0D8 !important;
    border: 1px solid #D6E9C6 !important;
}
input.parsley-error, textarea.parsley-error, select.parsley-error {
    color: #B94A48 !important;
    background-color: #F2DEDE !important;
    border: 1px solid #EED3D7 !important;
}
ul.parsley-error-list {
    font-size: 10px;
    margin: -5px 0 0 0;
    width:200px;
    list-style-type:none;
}
ul.parsley-error-list li {
    line-height: 9px;
    width:200px;
}

.navopts{
    margin-top:10px;
}
.navopts a{
    font-size:14px;
    width:180px;
    margin:0 0 5px 0;
}



body {
	/*font:14px Arial, Helvetica, sans-serif; */
	color:#0c2335; 
	background: #ffffff; /*#0c2335; */
	padding:0;
	margin:0;
}

#container{
	max-width:1000px;
	margin:20px auto 50px auto;
	padding:0px 10px;
	background:#ffffff;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#logo{
	margin:-20px -10px 40px -10px;
	text-align:center;
}

#logo img{
    width:100%;
}

img.chart{
    display:block;
    margin:0 auto 0 auto;
}

footer{
    clear:both;
	margin:50px 0px 0px 0px;
	padding:40px 0 0 0;
	border-top:1px solid #666661; 
}

td{
	vertical-align:top;
}

td ul{
    padding:0;
    margin:0;
}

td ul li{
    float:left;
    width:60px;
    padding:0;
    margin:0 0 5px 10px;
    list-style-type:none;
}

.formerror{
    color:red;
    font-weight:bold;
    padding:2px 0 0 5px;
}

textarea{
	height:90px;
}

span.counter{
	color:grey;
	font-size:0.9em;
}

td span.counter{
    display:block;
}

