{% extends "base.html" %}

{% block content %}

<div class="row-fluid">
    <div class="span12">

        <h2>LEAPS data policy and data protection</h2>

        <p>To use the LEAPS online form you must agree to your details being held by LEAPS (which is hosted
        by the University of Edinburgh) for administration and tracking purposes, and being used by LEAPS to
        contact you in the future.</p>

        <p>LEAPS would like to track your progress through LEAPS events, at the end of this school year, and
        through Further and/or Higher Education Institutions in order to support future LEAPS students. We
        will hold your details for up to eight years. We will take information from this online interview form.</p>

        <p>LEAPS staff may request information from Skills Development Scotland and/or Further and Higher
        Education Institutions as required for tracking purposes.</p>
        
        <p>LEAPS and its partners may use your data for research purposes to evaluate the effectiveness of the
        programme and to improve delivery of the LEAPS service.</p>
        
        <p>In order to support your applications to Further and Higher Education Institutions, LEAPS may
        selectively make some interview information available to your school and to Further and Higher
        Education admissions staff.</p>
        
        <p>If you would like further information regarding our data protection policy, or to opt out of any of the
        above, please contact LEAPS at leaps@ed.ac.uk or on 0131 650 4676.</p>

    </div>
</div>

{% endblock %}
