{% extends "base.html" %}

{% block content %}

<div id="logo">
    <img src="/static/leaps_banner.png" alt="A group of students from the Lothians Equal Access Programme for Schools" title="A group of students from the Lothians Equal Access Programme for Schools" />
</div>

<div class="row-fluid">
    <div class="span12">

        <h1>Privacy Policy</h1>
        <br>

        <h2>About LEAPS</h2>

        <p>LEAPS is a successful and unique widening participation programme, funded by its 
        <a href="http://www.leapsonline.org/node/1089">higher education institution and
        local council partners</a> to increase progression to higher education in South East Scotland. We aim to encourage and
        advise students who are traditionally under-represented in higher education and we currently work with
        <a href="http://www.leapsonline.org/node/1137">state secondary schools</a>
        throughout South East Scotland, supporting pupils who match
        <a href="http://www.leapsonline.org/node/1081">LEAPS eligibility criteria</a>. LEAPS is also
        supported by Skills Development Scotland and delivers the Scottish Funding Council's 
        <a href="http://www.sfc.ac.uk/access-inclusion/access-initiatives/access-initiatives.aspx">Schools for Higher Education
        Programme</a> (SHEP) in South East Scotland. LEAPS is hosted by the University of Edinburgh.</p>

        <h2>Information about you: how we use it and with whom we share it</h2>

        <p>Please note that the information you provide, and how we use it, will depend on your level of engagement with us
        but it may be used by LEAPS:</p>
        
        <ul>
            <li>To administer your involvement in the LEAPS programme (including our events and the LEAPS Transitions Course, if participating).</li>
            <li>To provide you with personalised information, advice and guidance regarding your current, Further and Higher Education.</li>
            <li>To inform you of information, activities and events that may support your interest in and transition to Further and Higher Education.</li>
            <li>To inform UCAS and Further and Higher Education Institutions in the UK and abroad of your engagement in the LEAPS programme.
            This includes your LEAPS eligibility status (if confirmed) being included on your UCAS application, for Higher Education Institutions to see.</li>
            <li>To liaise with the Higher Education Institutions you have applied to, in order to
            discuss any issues or queries you may have around applications and offers.</li>
            <li>To allow Higher Education Institutions to speak to us on your behalf about any
            issues or queries you may have around applications and offers.</li>
            <li>To undertake research, analysis and reporting to support the ongoing evaluation and development of the LEAPS programme.</li>
        </ul>

        <p>If you are participating in the LEAPS Transitions Course, information about you may also
        be used by LEAPS:</p>

        <ul>
            <li>To update the Scottish Government professional benchmarking tool 
            <a href="https://insight-guides.scotxed.net/about.htm">Insight</a>, used
            for analysing attainment data in the senior phase (accessible by secondary
            schools and local authorities). We will provide individual-level data sets to the
            Education Analytical Services Team at the Scottish Government, who will update
            Insight. This will include candidate data, qualifications data, attainment data and
            results contribution data. Insight information will not be made publicly available at
            a level which allows identification of an individual.</li>
            <li>To inform your school (where relevant) of your engagement in the LEAPS
            Transitions Course, including data relating to your participation, completion and
            attainment. This is so that your school can support you throughout the course.</li>
            <li>To inform UCAS and Higher Education Institutions in the UK and abroad (where
            relevant) of your engagement in the LEAPS Transitions Course, including data
            relating to your participation, completion and attainment. This is so that it can be
            taken into consideration from an admissions perspective by Higher Education
            Institutions.</li>
        </ul>

        <p>LEAPS uses some external companies to process information about you in order to facilitate communications. We use
        <a href="https://dotdigital.com/terms/privacy-policy/">Dotdigital</a>
        and <a href="http://www.textanywhere.net/info-sec-policy.aspx">TextAnywhere</a>
        to do this. You can unsubscribe from Dotdigital emails by clicking on the unsubscribe
        link at the foot of the email campaign. You can unsubscribe from TextAnywhere messages by texting the word STOP
        back by return.</p>

        <ul>
            <li>We are using information about you because it is in your, and our, legitimate interest for us to do so. By
            processing your information, LEAPS can liaise with you directly to administer your involvement in the LEAPS
            programme (including our events) and to support your interest in and transition to Further and Higher
            Education.</li>
            <li>With specific regard to the LEAPS Transitions Course and the updating of
            Scottish Government professional benchmarking tool Insight, we are processing
            information about you because it is in the public interest for us to do so.</li>
        </ul>

        <p>Information about you may be shared with:</p>
        
        <ul>
            <li>Your school.</li>
            <li>Further and Higher Education Institutions in the UK and abroad.</li>
            <li>UCAS</li>
            <li>Scottish Government</li>
            <li>Local Authorities</li>
            <li>Organisations involved in co-delivering LEAPS events. (These organisations will be outlined when you register
            for LEAPS events, or as soon as possible thereafter).</li>
            <li>Skills Development Scotland.</li>
            <li>Reference providers (as detailed by you when applying for a role with LEAPS).</li>
        </ul>

        <p>International transfers</p>
 
        <p>In order to provide and maintain the LEAPS service, we use a service provider located outside the EEA, based in New Zealand. 
            New Zealand has received an “adequacy decision” from the UK Government. This means that the UK Government has decided that 
            New Zealand's local laws ensure an adequate level of protection for your personal data, without the need for additional safeguards.</p>

        <p>We will hold the personal data you provided us for up to 3 years. After this time all identifiable personal data will be
        deleted and the remaining data will be held in an anonymised format.</p>

        <p>We do not use profiling or automated decision-making processes.</p>

        <p>If you have any questions or you would like to change your communications preferences, please contact the LEAPS
        Office at <a href="mailto:leaps@ed.ac.uk"></a>leaps@ed.ac.uk</a>.</p>

        <p>This privacy statement is continued at: 
        <br><a href="https://www.ed.ac.uk/data-protection/notice">Continued privacy notice</a></p>
    </div>
</div>

{% endblock %}



