  <footer>
	  <div class="row-fluid">
	    <div class="span3 hidden-xs hidden-sm" id="footer_logo">
	  		<img src="/static/leaps_logo_cropped.png" alt="Lothians Equal Access Programme for Schools Logo" title="Lothians Equal Access Programme for Schools Logo">
	    </div>
	
	    <div class="span5" id="footer_address">
				<p>
					Lothians Equal Access Programme for Schools<br>
					Room 1/06 Old Moray House<br>
					Holyrood Road<br>
					Edinburgh EH8 8AQ<br>
					07774 336265
					<!-- 0131 650 4676 -->
				</p>
			</div>

	    <div class="span2" id="footer_contacts">
				<p>
					<a href="http://www.leapsonline.org/contact-us">Contact us</a><br>
					<a href="mailto:leaps@ed.ac.uk">LEAPS@ed.ac.uk</a><br>
					<a href="http://leapsonline.org">leapsonline.org</a>
				</p>
			</div>
			
	    <div class="span2">
				<p style="text-align:right;">
					{% if current_user %}<a href="/account/policy">User Access Terms</a><br>{% endif %}
					<a href="/policy">Privacy policy</a><br>
					<a href="/survey">Survey form</a><br>
					<a href="/schools">Schools</a><br>
					<a href="/universities">Universities</a>
				</p>
	    </div>
	   </div>
  </footer>

