{% extends "base.html" %}

{% block content %}


    <div id="logo">
        <img src="/static/leaps_banner.png" alt="A group of students from the Lothians Equal Access Programme for Schools" title="A group of students from the Lothians Equal Access Programme for Schools" />
    </div>

		<div id="content">

        <h2>Closed</h2>
        
        <p>Sorry, the LEAPS survey form has now been closed for the current session.
        It will become available next session.</p>

		</div>

{% endblock %}

