{% extends "base.html" %}

{% block content %}

		<div id="logo">
	    	<img src="/static/leaps_banner.png" alt="A group of students from the Lothians Equal Access Programme for Schools" title="A group of students from the Lothians Equal Access Programme for Schools" />
		</div>

		<div class="row-fluid">
		    <div class="span12">
						
						<h3>Thanks for submitting your form</h3>
						
		        <p>Your input is greatly appreciated and will make your interview with 
		        LEAPS staff quicker and easier. To find out more about what your LEAPS 
		        interview will involve, have a look at the 
		        <a href="https://leapsonline.org/schoolstudents/s6-blog/leaps-11-interview">LEAPS S6 - Blog</a>.</p>

		        <p>Our staff will review the information you have provided, and may contact you if further details are required.</p>


						<p><b>Your help please - complete below survey on how you feel about applying to uni / college (and enter prize draw for £30 Amazon voucher!)</b></p>

						<p>LEAPS want to explore the effectiveness of the LEAPS Pre-UCAS 1:1 Interview,
						and we ask for your help to do this! We invite you to complete this short 
						online questionnaire to help us gather a sense of how LEAPS-eligible pupils feel 
						about applying to university before their LEAPS Pre-UCAS Interview.</p>

						<p>The questionnaire should take no more than 5 minutes to complete. Completing the
						questionnaire allows us to make sure LEAPS support is as effective as possible for
						future LEAPS pupils. You can complete the questionnaire here:</p>

						<p><a href="https://app.onlinesurveys.jisc.ac.uk/s/edinburgh/leaps-pre-ucas-interviews-2024-pre-interview-questionnaire">https://app.onlinesurveys.jisc.ac.uk/s/edinburgh/leaps-pre-ucas-interviews-2024-pre-interview-questionnaire</a></p>

		        <p>If you are completing this form using a PC in a public place, you should now take the recommended precautions to ensure nobody 
		        else can access your session and the information you submitted. For example, close the internet browser and log off the PC.</p> 

            </div>
		</div>

{% endblock %}

