{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" media="all" href="/static/bootstrap3/bootstrap.min.css" />
<script type="text/javascript" src="/static/bootstrap3/bootstrap.min.js"></script>

<script>
jQuery(document).ready(function() {    

    $("[data-required]").attr('data-required-message',"");

    // add a datepicker to all datepicker classes
    var opts = {
        inline: true,
        dateFormat: 'dd/mm/yy',
        changeYear: true
    };
    $('.datepicker').datepicker(opts);
    var dobopts = {
        inline: true,
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        yearRange: "-22:+0",
        defaultDate: '-17y',
        minDate: '-22y',
        maxDate: '-12y'
    };
    $('.dobdatepicker').datepicker(dobopts);
    var dobformat = function(event) {
        event.preventDefault();
        var datestring = $('#date_of_birth').val();
        var pattern = /^([0-9]{2})\/([0-9]{2})\/([0-9]{4})$/;
        if ( pattern.test(datestring) ) {
            $('.dobwarning').hide();
            $('#date_of_birth').removeClass('parsley-error').addClass('parsley-validated').addClass('parsley-success');
        } else {
            $('.dobwarning').show();
            $('#date_of_birth').removeClass('parsley-success').removeClass('parsley-validated').addClass('parsley-error');
        }
    }
    $('.checkdob').bind('change',dobformat);
    
    $('.select2this').select2();
    
    // hide survey sections and add prev/next nav-throughs
    var doprevnext = function(event) {
        event.preventDefault();
        $('#survey').parsley('validate');
        $('.part').hide();
        $(this).hasClass('prev') ? $(this).closest('.part').prev().show() : $(this).closest('.part').next().show();
        window.scrollTo(0,0);
    }
    var prevnext = '<div style="margin:20px 0 20px 0;"><button class="btn btn-info prev">previous</button> <button class="btn btn-info next">next</button></div>';
    $('.part').append(prevnext);
    $('.part:first').find('.prev').remove();
    $('.part:last').find('.next').remove();
    $('.prev').bind('click',doprevnext);
    $('.next').bind('click',doprevnext);
    $('.part').hide();
    $('.part:first').show();

    // review button show all
    var showall = function(event) {
        event.preventDefault();
        $('#activealert').hide();
        $('.part').show();
        $("html, body").animate({ scrollTop: 0 }, "fast");
    }
    $('.review').bind('click',showall);

    // function of things to do whenever a row is appended
    var preprow = function(row) {
        $(row).find('.delete-row').bind('click',deleterow);
        $(row).find('select').val("");
        $(row).find('input').val("");
        $(row).find('textarea').html("").val("");
        $(row).find('.datepicker').datepicker("destroy");
        $(row).find('.datepicker').removeClass("hasDatepicker").removeAttr('id');
        $(row).find('.datepicker').datepicker(opts);
        var subjects = {{ selections.advancedsubjects|tojson|safe }};
        var stext = '<option></option>';
	    for ( var i = 0; i < subjects.length; i++ ) {
	        stext += '<option>' + subjects[i] + '</option>';
	    };
        $(row).find('.select2this').select2('destroy').select2();
        $(row).find('.subjectselector').html(stext);
        $(row).find('.institutionselector').unbind('change',limitsubjects).bind('change',limitsubjects);
        $(row).find('.subjectselector').unbind('change',limitlevels).bind('change',limitlevels);
    }

    // add / remove rows to list items
    $('table.multi').find('tbody').children('tr').each(function() {
        $(this).children('td').first().prepend('<a class="btn btn-warning delete-row" style="margin:-10px 2px 0 0;" href="#">delete</a>').children('select, input').addClass('narrow');
    });
    $('table.multi').find('tbody').append('<tr><td><a class="btn btn-success add-row" href="#">add</a></td></tr>');
    // add / remove rows to list items
    $('.row.multi').each(function() {
        $(this).children().last().append('<p class="toprow">&nbsp;</p><p style="display:none;"><a class="btn btn-block btn-warning delete-row" href="#">delete</a></p><p><a class="btn btn-block btn-success add-row" href="#">add</a></p>');
    });

    var addrow = function(event) {
        event.preventDefault();
        var maxrows = 6;
        if ($(this).closest('table').length === 0) {
            $(this).closest('.row').hasClass('manyrows') ? maxrows = 30 : false;
            $(this).closest('.row').siblings('.row').length == (maxrows - 1) ? $(this).hide() : false;
            if ( $(this).closest('.row').siblings('.row').length < maxrows ) {
                var row = $(this).closest('.row').clone(true).get(0);
                $(row).children('div').each(function() {
                    var p = $(this).children('p').first();
                    if ( !$(p).hasClass('toprow') ) {
                        $(p).addClass('visible-xs').addClass('visible-sm'); 
                    } else {
                        $(p).hide();
                    }
                });
                $(this).closest('.row').append('<hr class="visible-xs visible-sm" style="border-color:#bbb;"></hr>');
                $(row).insertAfter($(this).closest('.row'));
                preprow(row);
                $(this).closest('.row').find('.add-row').parent().hide();
                $(this).closest('.row').find('.delete-row').parent().show();
            }
        } else {
            $(this).closest('table').hasClass('manyrows') ? maxrows = 30 : false;
            $(this).closest('tr').siblings().length == (maxrows - 1) ? $(this).hide() : false;
            if ( $(this).closest('tr').siblings().length < maxrows ) {
                var row = $(this).closest('tr').prev().clone(true).get(0);
                $(row).insertBefore($(this).closest('tr'));
                preprow(row);
            }
        }
    }
    $('.add-row').bind('click',addrow);
    var deleterow = function(event) {
        event.preventDefault();
        if ($(this).closest('table').length === 0) {
            // if this is the first row, remove the visible-xs and visible-sm classes from the p tags of the next row
            var parent = $(this).closest('.row').parent();
            $(this).closest('.row').remove();
            $(parent).children('.row').first().children('div').each(function() {
                $(this).children('p').first().removeClass('visible-xs').removeClass('visible-sm');
                $(this).find('.toprow').show();
            });
        } else {
            var row = $(this).closest('tr').clone(true).get(0);
            var maxrows = 6;
            $(this).closest('table').hasClass('manyrows') ? maxrows = 30 : false;
            $(this).closest('tr').siblings().length == maxrows ? $(this).closest('tr').siblings().find('.add-row').show() : false;
            if ( $(this).closest('tr').siblings().length == 1 ) {
                $(row).insertBefore($(this).closest('tr'));
                preprow(row);
            }
            $(this).closest('tr').remove();
        }
    }
    $('.delete-row').bind('click',deleterow);

    var triggersave = function(event) {
        if ( !$('#survey').parsley('validate') ) {
            event.preventDefault();
            $('.part').hide();
            $(this).closest('.part').show();
            $('#activealert').show();
        }
    };
    $('#triggersave').bind('click',triggersave);

    var limitlevels = function(event) {
        var ls = $(this).closest('tr').find('.levelselector');
        if (ls.hasClass('select2this')) ls.select2('destroy');
        ls.attr("disabled","disabled");
        var level = $('option:selected', this).attr('data-level');
        if ( level ) {
            ls.html('<option></option><option selected="selected">' + level + '</option>')
        } else {
            var levels = {{ selections.advancedlevels|tojson|safe }};
            var lopts = '<option></option>';
            for ( var i = 0; i < levels.length; i++ ) {
                lopts += "<option>" + levels[i] + "</option>";
            }
            ls.html(lopts);
        }
        ls.removeAttr("disabled");
        if (ls.hasClass('select2this')) ls.select2();
    }
    var limitsubjects = function(event) {
        var institution = $(this).val();
        $(this).closest('tr').find('.subjectselector').each(function() {
            if ($(this).hasClass('select2this')) $(this).select2('destroy');
            $(this).attr("disabled","disabled");
        });
        $(this).closest('tr').find('.levelselector').each(function() {
            if ($(this).hasClass('select2this')) $(this).select2('destroy');
            $(this).val("").attr("disabled","disabled");
        });
        if ( institution == "" ) {
            var subjects = {{ selections.advancedsubjects|tojson|safe }};
            var opts = '<option></option>';
            for ( var i = 0; i < subjects.length; i++ ) {
                opts += "<option>" + subjects[i] + "</option>";
            }
            $(this).closest('tr').find('.subjectselector').html(opts).removeAttr("disabled");
            $(this).closest('tr').find('.levelselector').html(opts).removeAttr("disabled");
        } else {
            var qry = {
                "query": {
                    "term": {
                        "name.exact": institution
                    }
                }
            };
            var url = '/query/institution/_search?source=' + JSON.stringify(qry);
            $.ajax({
                cache:false,
                method:'GET',
                datatype:'JSON',
                url:url,
                obj:$(this),
                success: function(data) {
                    if ( data.hits.total == 0 ) {
                        var subjects = {{ selections.advancedsubjects|tojson|safe }};
                    } else if ( data.hits.hits[0]._source.subjects !== undefined && data.hits.hits[0]._source.subjects.length > 0 ) {
                        var subjects = data.hits.hits[0]._source.subjects;
                    } else {
                        var subjects = {{ selections.advancedsubjects|tojson|safe }};
                    }
                    var opts = '<option></option>';
                    for ( var i = 0; i < subjects.length; i++ ) {
                        if ( subjects[i].name === undefined ) {
                            opts += "<option>" + subjects[i] + "</option>";
                        } else {
                            opts += "<option";
                            subjects[i].level !== undefined ? opts += ' data-level="' + subjects[i].level + '"' : false;
                            opts += ">" + subjects[i].name + "</option>";
                        }
                    }
                    this.obj.closest('tr').find('.subjectselector').each(function() {
                        $(this).html(opts).removeAttr("disabled");
                        if ($(this).hasClass('select2this')) $(this).select2();
                    })
                }
            });
        }
    }
    $('.institutionselector').bind('change',limitsubjects);
    $('.subjectselector').bind('change',limitlevels);
    
	function checkKeys(e){
		 e = e || event;
		 var txtArea = /textarea/i.test((e.target || e.srcElement).tagName);
		 return txtArea || ( (e.keyCode || e.which || e.charCode || 0) !== 13 && (e.keyCode || e.which || e.charCode || 0) !== 8 && e.type !== 'text');
	}
	document.querySelector('form').onkeypress = checkKeys;
	
	$('#gender').bind('change',function(e) {
	   $('#gender_other').val('').hide();
	   if ( $('#gender').val() == 'Other' ) $('#gender_other').show();
	});
});
</script>

<style>
body {
    font-size:1.2em;
}
hr {
    border-color:#333;
}
#container {
    margin:0;
    width:100%;
}
.content {
    margin:0;
    width:100%;
}
.part .well{
    margin-top:50px;
}
.part .jumbotron{
    margin-top:50px;
}
.narrow{
    width:180px;
}
.narrow.datepicker{
    width:100px;
}
textarea {
    min-height:150px;
}
/*.add-row, .delete-row {
    padding-left:3px;
    padding-right:3px;
    font-size:0.9em;
    width:45px;
}*/
/*input, textarea {
    width:200px;
}
select {
    width:210px;
}
textarea.bigfield{
    width:400px;
    height:150px;
}
input.bigfield{
    width:360px;
    height:150px;
}*/
</style>

<div class="container">

<form action="" id="survey" name="survey" method="post" data-validate="parsley">
<fieldset>


<!-- the intro part -->
<div class="part intro">

	<div class="row">
	    <div class="col-md-12">
	        <div class="well">
	            <h1>Welcome to the LEAPS student survey</h1>
	        </div>
	    </div>
	</div>

	<div class="row">
	    <div class="col-md-12">
	        <p>You can find out how we use and what we do with your personal data <a href="/policy">here</a>.
            When you are ready to begin the survey, please read the notes below.</p>
	        <p>This survey contains six parts. You must complete every part in order to successfully save your responses. It should take no more than 30 minutes to complete, if you prepare in advance. Please have details of your qualifications, personal interests, work experience, and possible University or College applications to hand before you start this survey.</p>
			<p>It is recommended that you complete this survey on a PC as it is easier than using an ipad or tablet.</p>
			<p><strong>DO NOT CLOSE YOUR BROWSER WHILST COMPLETING THE SURVEY.</strong></p>
	        <p>Only the students of <strong>participating schools</strong> can complete the survey.</p>
	        <p>Each part presents <strong>instructions at the top</strong> on how to complete the questions in that part.</p> 
	        <p>Some fields will offer <strong>suggestions as you type</strong>. Choose a suitable suggestion if one is presented, otherwise 
	        continue to type and your text will be accepted.</p>
	        <p>If you need to <strong>insert extra rows</strong>, press <strong>add</strong> to get another row.</p>
	        <p>If you want to <strong>delete a row</strong>, press <strong>delete</strong> to remove the row.</p>
	        <p>Required inputs are shown in red, until they are completed appropriately, when they will become green. You should check that all required inputs are green before proceeding. Inputs that are optional remain white.</p>
	        <p>You can navigate between parts using the <strong>Previous</strong> or <strong>Next</strong> buttons.</p>
	        <p>At the end of the form you will be directed to review your responses and you will not be able to submit until all the required questions have been answered.</p>
        </div>
	</div>

</div>



<!-- the student details page -->
<div class="part student">

	<div class="row">
	    <div class="col-md-12">
	        <div class="well">
	            <h2>Your details</h2>
	            <p><strong>Part 1 of 6</strong> - please provide your personal details below, to create your record.</p>
	        </div>
	    </div>
	</div>

	<div class="row">
	    <div class="col-md-5">
	        <div class="row">
	            <div class="col-md-3">
                    <p>First name</p>
	            </div>
	            <div class="col-md-9">
            		<p><input class="form-control" type="text" name="first_name" data-required="true"></p>
	            </div>
	        </div>
        </div>
	    <div class="col-md-5 col-md-offset-2">		
	        <div class="row">
	            <div class="col-md-3">
                    <p>Last name</p>
	            </div>
	            <div class="col-md-9">
            		<p><input class="form-control" type="text" name="last_name" data-required="true"></p>
	            </div>
	        </div>
        </div>
    </div>

	<div class="row">
	    <div class="col-md-5">
	        <div class="row">
	            <div class="col-md-3">
                    <p>Date of birth</p>
	            </div>
	            <div class="col-md-9">
            		<p><input type="text" class="form-control dobdatepicker checkdob" id="date_of_birth" name="date_of_birth" data-required="true" data-trigger="keyup change focusout"></p>
            		<p class="dobwarning" style="color:red;font-size:0.8em;margin-bottom:10px;display:none;">format must be DD/MM/YYYY</p>
	            </div>
	        </div>
        </div>
	    <div class="col-md-5 col-md-offset-2">
	        <div class="row">
	            <div class="col-md-3">
                    <p>UCAS number</p>
	            </div>
	            <div class="col-md-9">
            		<p><input class="form-control" type="text" name="ucas_number"></p>
	            </div>
	        </div>
        </div>
    </div>
                    
	<div class="row">
	    <div class="col-md-5">
	        <div class="row">
	            <div class="col-md-3">
                    <p>School</p>
	            </div>
	            <div class="col-md-9">
            		<p><select class="form-control select2this" name="school" data-required="true">
            		    <option></option>
            		    {% for opt in selections.schools %}
            		        <option>{{ opt }}</option>
            		    {% endfor %}
            		</select></p>
	            </div>
	        </div>
        </div>
	    <div class="col-md-5 col-md-offset-2">
	        <div class="row">
	            <div class="col-md-3">
                    <p>School house</p>
	            </div>
	            <div class="col-md-9">
            		<p><input class="form-control" type="text" name="school_house"></p>
	            </div>
	        </div>
        </div>
    </div>
                    
	<div class="row">
	    <div class="col-md-5">
	        <div class="row">
	            <div class="col-md-3">
                    <p>Year group</p>
	            </div>
	            <div class="col-md-9">
            		<p><select class="form-control" name="year" data-required="true">
            		    <option></option>
            		    <option>Third year</option>
            		    <option>Fourth year</option>
            		    <option>Fifth year</option>
            		    <option>Sixth year</option>
            		    <option>Other</option>
            		</select></p>
	            </div>
	        </div>
        </div>
	    <div class="col-md-5 col-md-offset-2">
	        <div class="row">
	            <div class="col-md-3">
                    <p>Gender</p>
	            </div>
	            <div class="col-md-9">
            		<p>
            		    <select class="form-control" id="gender" name="gender" data-required="true">
            		    <option></option>
            		    <option value="Male">Man / Male (including trans man)</option>
            		    <option value="Female">Woman / Female (including trans woman)</option>
            		    <option value="Other">In another way</option>
            		    <option value="Do not wish to disclose">Prefer not to say</option>
            		    </select>
            		    <p id="gender_other" style="display:none">
            		        If you want to tell us how you identify your gender, please enter it here, 
            		        or leave blank and we will simply record it as "Other": <br>
                		    <input type="text" class="form-control" name="gender_other">
                		</p>
            		</p>
	            </div>
	        </div>
        </div>
    </div>

	<div class="row">
	    <div class="col-md-5">
	        <div class="row">
	            <div class="col-md-3">
                    <p>Home phone</p>
	            </div>
	            <div class="col-md-9">
            		<p><input class="form-control" type="text" name="home_phone"></p>
	            </div>
	        </div>
        </div>
	    <div class="col-md-5 col-md-offset-2">
	        <div class="row">
	            <div class="col-md-3">
                    <p>Mobile phone</p>
	            </div>
	            <div class="col-md-9">
            		<p><input class="form-control" type="text" name="mobile_phone"></p>
	            </div>
	        </div>
        </div>
    </div>

	<div class="row">
	    <div class="col-md-5">		
	        <div class="row">
	            <div class="col-md-3">
                    <p>Address</p>
	            </div>
	            <div class="col-md-9">
            		<p><input class="form-control" type="text" name="address_line_1" data-required="true"></p>
	            </div>
	        </div>
        </div>
	    <div class="col-md-5 col-md-offset-2">
	        <div class="row">
	            <div class="col-md-3">
                    <p>...</p>
	            </div>
	            <div class="col-md-9">
            		<p><input class="form-control" type="text" name="address_line_2"></p>
	            </div>
	        </div>
        </div>
    </div>

	<div class="row">
	    <div class="col-md-5">
	        <div class="row">
	            <div class="col-md-3">
                    <p>City</p>
	            </div>
	            <div class="col-md-9">
            		<p><input class="form-control" type="text" name="city" data-required="true"></p>
	            </div>
	        </div>
        </div>
	    <div class="col-md-5 col-md-offset-2">
	        <div class="row">
	            <div class="col-md-3">
                    <p>Region</p>
	            </div>
	            <div class="col-md-9">
            		<p><input class="form-control" type="text" name="region"></p>
	            </div>
	        </div>
        </div>
    </div>

	<div class="row">
	    <div class="col-md-5">
	        <div class="row">
	            <div class="col-md-3">
                    <p>Post code</p>
	            </div>
	            <div class="col-md-9">
            		<p><input class="form-control" type="text" name="post_code" data-required="true"></p>
	            </div>
	        </div>
        </div>
	    <div class="col-md-5 col-md-offset-2">
	        <div class="row">
	            <div class="col-md-3">
                    <p>Email address</p>
	            </div>
	            <div class="col-md-9">
            		<p><input class="form-control" type="text" name="email" data-type="email" data-required="true" data-trigger="keyup focusout"></p>
	            </div>
	        </div>
        </div>
    </div>

</div>



<!-- the qualifications page -->
<div class="part qualifications">

	<div class="row">
	    <div class="col-md-12">
	        <div class="well">
	            <h2>Qualifications and currently sitting</h2>
	            <p><strong>Part 2 of 6</strong> - <strong>Please input details of all qualifications you have (or are studying for current year) for each year of school</strong>. <br><b>Please include any qualifications you sat but did not pass.</b><br /><br />If you do not yet know your grade, select Unknown in the Grade field. If you have any qualifications that do not meet the criteria below, you will have the option to describe them on the following pages. Use one row per qualification.</p>
	        </div>
	    </div>
	</div>
	
    <div> <!-- need divs round each year quals set for row add/remove to work well-->
        <h3>Third / Fourth year qualifications</h3>
    
    	<div class="row multi manyrows">
    	    <div class="col-md-3">
                <p>Subject</p>
        		<p><select name="qualification_subject" class="form-control select2this">
        		    <option></option>
        		    {% for opt in selections.subjects %}
        		        <option>{{ opt }}</option>
        		    {% endfor %}
        		</select></p>
        	</div>
    	    <div class="col-md-2">
                <p>School year taken</p>
        		<p><select name="qualification_year" class="form-control">
        		    <option>Third year</option>
        		    <option>Fourth year</option>
        		</select></p>
        	</div>
    	    <div class="col-md-3">
                <p>Level of qualification</p>
        		<p><select name="qualification_level" class="form-control select2this">
        		    <option></option>
        		    {% for opt in selections.levels %}
        		        <option>{{ opt }}</option>
        		    {% endfor %}
        		</select></p>
        	</div>
    	    <div class="col-md-2">
                <p>Grade</p>
        		<p><select name="qualification_grade" class="form-control select2this">
        		    <option></option>
        		    {% for opt in selections.grades %}
        		        <option>{{ opt }}</option>
        		    {% endfor %}
        		</select></p>
        	</div>
    	    <div class="col-md-2">
            </div>
    	</div>
	</div>

    <hr></hr>

    <div>
        <h3>Fifth year qualifications</h3>
    
    	<div class="row multi manyrows">
    	    <div class="col-md-3">
                <p>Subject</p>
        		<p><select name="qualification_subject" class="form-control select2this">
        		    <option></option>
        		    {% for opt in selections.subjects %}
        		        <option>{{ opt }}</option>
        		    {% endfor %}
        		</select></p>
        	</div>
        	<div class="col-md-2">
                <p>School year taken</p>
        		<p><select name="qualification_year" class="form-control">
        		    <option>Fifth year</option>
        		</select></p>
        	</div>
        	<div class="col-md-3">
                <p>Level of qualification</p>
        		<td><select name="qualification_level" class="form-control select2this">
        		    <option></option>
        		    {% for opt in selections.levels %}
        		        <option>{{ opt }}</option>
        		    {% endfor %}
        		</select></td>
        	</div>
        	<div class="col-md-2">
                <p>Grade</p>
        		<p><select name="qualification_grade" class="form-control select2this">
        		    <option></option>
        		    {% for opt in selections.grades %}
        		        <option>{{ opt }}</option>
        		    {% endfor %}
        		</select></p>
        	</div>
        	<div class="col-md-2">
    	    </div>
    	</div>
    </div>
    
    <hr></hr>

    <div>
        <h3>Sixth year / other qualifications</h3>
    
    	<div class="row multi manyrows">
    	    <div class="col-md-3">
                <p>Subject</p>
        		<p><select name="qualification_subject" class="form-control select2this">
        		    <option></option>
        		    {% for opt in selections.subjects %}
        		        <option>{{ opt }}</option>
        		    {% endfor %}
        		</select></p>
            </div>
    	    <div class="col-md-2">
                <p>School year taken</p>
        		<p><select name="qualification_year" class="form-control">
        		    <option>Sixth year</option>
        		    <option>Other</option>
        		</select></p>
            </div>
    	    <div class="col-md-3">
                <p>Level of qualification</p>
        		<p><select name="qualification_level" class="form-control select2this">
        		    <option></option>
        		    {% for opt in selections.levels %}
        		        <option>{{ opt }}</option>
        		    {% endfor %}
        		</select></p>
            </div>
    	    <div class="col-md-2">
                <p>Grade</p>
        		<p><select name="qualification_grade" class="form-control select2this">
        		    <option></option>
        		    {% for opt in selections.grades %}
        		        <option>{{ opt }}</option>
        		    {% endfor %}
        		</select></p>
            </div>
    	    <div class="col-md-2">
    	    </div>
    	</div>
    </div>
</div>



        



<!-- the applications page -->
<div class="part applications">

	<div class="row">
	    <div class="col-md-12">
	        <div class="well">
	            <h2>Potential Applications</h2>
	            <p><strong>Part 3 of 6</strong> - please list any applications for further or higher education that you are thinking of making. Use one row per application, up to the maximum of 6. If you have not made any decisions yet, please feel free to leave this section blank.</p>
	        </div>
	    </div>
	</div>

	<div class="row multi">
	    <div class="col-md-4">
            <p>College / University</p>
    		<p><select class="form-control institutionselector select2this" name="application_institution">
    		    <option></option>
    		    {% for opt in selections.institutions %}
    		        <option>{{ opt }}</option>
    		    {% endfor %}
    		</select></p>
    	</div>
	    <div class="col-md-4">
            <p>Subject</p>
    		<p><select class="form-control subjectselector select2this" name="application_subject">
    		    <option></option>
    		    {% for opt in selections.advancedsubjects %}
    		        <option>{{ opt }}</option>
    		    {% endfor %}
    		</select></p>
    	</div>
	    <div class="col-md-2">
            <p>Level of study</p>
    		<p><select class="form-control levelselector select2this" name="application_level">
    		    <option></option>
    		    {% for opt in selections.advancedlevels %}
    		        <option>{{ opt }}</option>
    		    {% endfor %}
    		</select></p>
    	</div>
	    <div class="col-md-2">
	    </div>
	</div>
</div>






        

<!-- the interests page -->
<div class="part interests">

	<div class="row">
	    <div class="col-md-12">
	        <div class="well">
	            <h2>Interests and achievements</h2>
	            <p><strong>Part 4 of 6</strong> - please give short details of your extra-curricular interests and achievements e.g. 
								sport, music, drama, Duke of Edinburgh, prefect etc and they will be discussed in more detail at your interview. 
								It is recommended that you write your own copy of interests, achievements and work experience in a document elsewhere, 
								then insert them into this form. You will find the document useful for your personal statement in your UCAS application. 
								Remember - you won't be able to return to this form! 
								Use one box per interest, up to the maximum of 6.</p>
	        </div>
	    </div>
	</div>

	<div class="row multi">
	    <div class="col-md-4">
            <p>Title</p>
    		<p><input class="form-control" type="text" name="interest_title"></p>
    	</div>
	    <div class="col-md-6">
            <p>Brief Description</p>
		    <!-- add data-required="true" to the following textarea to actually make the maxwords take effect -->
    		<p><textarea class="form-control" name="interest_brief_description" data-maxwords="200" data-trigger="keyup focusout change"></textarea></p>
    	</div>
	    <div class="col-md-2">
	    </div>
	</div>

</div>






        


<!-- the experience page -->
<div class="part experience">

	<div class="row">
	    <div class="col-md-12">
	        <div class="well">
	            <h2>Work and other experience</h2>
	            <p><strong>Part 5 of 6</strong> - please give short details of any work or voluntary experience you have had e.g. 
								paid employment, school committees, Pathways to Professions events etc and they can be discussed further at 
								your interview. It is recommended that you write your own copy of interests, achievements and work experience 
								in a document elsewhere, then insert them into this form. You will find the document useful for your personal 
								statement in your UCAS application. Remember - you won't be able to return to this form! 
								Use one row per experience, up to the maximum of 6.</p>
					</div>
	    </div>
	</div>

	<div class="row multi">
	    <div class="col-md-2">
            <p>Date from</p>
    		<p><input type="text" class="form-control datepicker" name="experience_date_from"></p>
    	</div>
	    <div class="col-md-2">
            <p>To (if completed)</p>
    		<p><input type="text" class="form-control datepicker" name="experience_date_to" placeholder="unless ongoing"></p>
    	</div>
	    <div class="col-md-2">
            <p>Job title</p>
    		<p><input type="text" class="form-control" name="experience_title"></p>
    	</div>
	    <div class="col-md-4">
            <p>Brief Description</p>
		    <!-- add data-required="true" to the following textarea to actually make the maxwords take effect -->
    		<p><textarea class="form-control" name="experience_brief_description" data-maxwords="200" data-trigger="keyup focusout change"></textarea></p>
    	</div>
	    <div class="col-md-2">
	    </div>
	</div>

</div>







<!-- the extra page -->
<div class="part extra">

	<div class="row">
	    <div class="col-md-12">
	        <div class="well">
	            <h2>Additional academic and career information</h2>
	            <p><strong>Part 6 of 6</strong> - please provide information about any other factors that affected your academic achievements, and provide some details on your career goals and any plans you have made towards them.</p>
	        </div>
	    </div>
	</div>

	<div class="row">
	    <div class="col-md-4">
            <p>Please describe any career plans you may have</p>
	    </div>
	    <div class="col-md-8">
            <p><textarea class="form-control" name="career_plans"></textarea></p>
	    </div>
	</div>

	<div class="row">
	    <div class="col-md-4">
            <p>List any additional qualifications not already mentioned (e.g. Sports Leadership etc)</p>
	    </div>
	    <div class="col-md-8">
            <p><textarea class="form-control" name="additional_qualifications"></textarea></p>
	    </div>
	</div>

	<div class="row">
	    <div class="col-md-4">
            <p>If you feel your academic performance has been affected at any time in school, 
			please tell us about it here e.g. a period of absence from school, time spent in care, health issues, caring responsibilities, bereavement. (At your 
			LEAPS interview, we may discuss if this would be relevant to share with university admissions tutors.)</p>
	    </div>
	    <div class="col-md-8">
            <p><textarea class="form-control" name="issues_affecting_performance"></textarea></p>
	    </div>
	</div>

</div>







<!-- the form submission button -->
<div class="part submit">

	<div class="row">
	    <div class="col-md-12">
	        <div class="jumbotron">
	            <h2>Ready to submit</h2>
	            <p>You cannot edit your responses once you submit them.</p>
	        </div>
	    </div>
	</div>

	<div class="row" style="margin-top:30px;">
	    <div class="col-md-6">
        	<p><input id="triggersave" class="btn btn-success btn-block" type="submit" name="submit" value="Submit your survey" /></p>
	    </div>
	    <div class="col-md-6">
	        <div id="activealert" class="alert alert-warning clearfix" style="display:none;">
	            <p>There are errors with your responses. Please click below to review your responses, then you can scroll through or use the previous / next buttons to check them. Any errors will be highlighted in red. Once there are no errors, please try to submit once again.</p>
	        </div>
    	    <p><button class="btn btn-warning btn-block review">Review your responses</button></p>
	    </div>
    </div>

</div>




</fieldset>
</form>

</div>

{% endblock %}


    

