{% extends "leaps/admin/admin-base.html" %}

{% block content %}

{% if stats %}
<div class="row-fluid">
    <div class="span3">
        <div class="alert alert-info" style="min-height:100px;">
            <p><span style="font-size:24px;">{{stats.total_submitted}}</span> students have submitted surveys <br>(overview figures for current archive only).</p>
            <p><a href="/admin/student" class="btn btn-info">Manage students</a></p>
        </div>
    </div>
    <div class="span3">
        <div class="alert alert-info" style="min-height:100px;">
            <p><span style="font-size:24px;">{{stats.awaiting_interview}}</span> students<br> are awaiting interview.</p>
        </div>
    </div>
    <div class="span3">
        <div class="alert alert-info" style="min-height:100px;">
            <p><span style="font-size:24px;">{{stats.interviewed}}</span> students<br> have been interviewed.</p>
        </div>
    </div>
    <div class="span3">
        <div class="alert alert-info" style="min-height:100px;">
            <p><span style="font-size:24px;">{{stats.paes_forwarded}}</span> students<br> have had their PAE responses sent to them.</p>
        </div>
    </div>
</div>    
    
<div class="row-fluid">
    <div class="span3">
        <div class="alert alert-info" style="min-height:100px;">
            <p><span style="font-size:24px;">{{stats.awaiting_all_pae}}</span> of the students<br>for which PAEs are expected are awaiting <strong>all</strong> PAE responses.</p>
        </div>
    </div>
    <div class="span3">
        <div class="alert alert-info" style="min-height:100px;">
            <p><span style="font-size:24px;">{{stats.awaiting_some_pae}}</span> of the students<br> for which PAEs are expected are awaiting <strong>some</strong> PAE responses.</p>
        </div>
    </div>
    <div class="span3">
        <div class="alert alert-info" style="min-height:100px;">
            <p><span style="font-size:24px;">{{stats.all_pae_received}}</span> of the students<br> for which PAEs are expected have had all PAE responses submitted.</p>
        </div>
    </div>
    <div class="span3">
        <div class="alert alert-info" style="min-height:100px;">
            <p><span style="font-size:24px;">{{stats.schools_with_students_submitted}}</span> of the 
            <span style="font-size:24px;">{{stats.total_schools - 1}}</span> 
            registered schools <br>have had students submit surveys.</p>
            <p><a class="btn btn-info" href="/schools">Go to the schools view</a></p>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span3">
        <div class="alert alert-info" style="min-height:100px;">
            <p><span style="font-size:24px;">{{stats.universities_pae_outstanding}}</span> universities<br> have PAE requests outstanding.</p>
            <p><a class="btn btn-info" href="/universities">Go to the universities view</a></p>
        </div>
    </div>
    <div class="span3">
        <div class="alert alert-success" style="min-height:100px;">
            <p>You are logged in as {{current_user.id}}. 
            {% if current_user.is_super %}
                You are the super user. You can edit anything, edit user accounts, and turn surveys and interfaces on and off.
            {% else %}
                {% if current_user.do_admin %} You have full edit and export ability.
                {% else %} You can view and export any administrative data, but you cannot edit.
                {% endif %}
            {% endif %}
            </p>
        </div>
    </div>
    <div class="span3">
        <div class="alert alert-success" style="min-height:100px;">
            <p><a class="btn btn-success" href="/account/{{current_user.id}}" style="min-width:110px;">Account settings</a></p>
            <p><a class="btn btn-success" href="/account/logout" style="min-width:110px;">Logout of LEAPS</a></p>
        </div>
    </div>

</div>
{% endif %}

{% endblock %}
