{% extends "leaps/admin/admin-base.html" %}

{% block content %}

{% if stats %}
<div class="row-fluid">
    <div class="span3">
        <div class="alert alert-info" style="min-height:110px;">
            <p><span style="font-size:24px;">{{stats.total_submitted}}</span> students have submitted surveys <br>(overview figures for current archive only, and not including TEST records).</p>
            <p><a href="/admin/student" class="btn btn-info">Manage students</a></p>
        </div>
    </div>
    <div class="span3">
        <div class="alert alert-info" style="min-height:110px;">
            <p><span style="font-size:24px;">{{stats.new}}</span> students are at new status.</p>
            <p><span style="font-size:24px;">{{stats.interviewed}}</span> students are at interviewed status.</p>
        </div>
    </div>
    <div class="span3">
        <div class="alert alert-info" style="min-height:110px;">
            <p><span style="font-size:24px;">{{stats.schools_with_students_submitted}}</span> of the 
            <span style="font-size:24px;">{{stats.total_schools - 1}}</span> 
            registered schools <br>have had students submit surveys.</p>
            <p><a class="btn btn-info" href="/schools">Go to the schools view</a></p>
        </div>
    </div>
    <div class="span3">
        <div class="alert alert-success" style="min-height:110px;">
            <p>You are logged in as {{current_user.id}}. 
            {% if current_user.is_super %}
                You are the super user. You can edit anything, edit user accounts, and turn surveys and interfaces on and off.
            {% else %}
                {% if current_user.do_admin %} You have full edit and export ability.
                {% else %} You can view administrative data, but you cannot edit.
                {% endif %}
            {% endif %}
            </p>
        </div>
    </div>
</div>    
    
<div class="row-fluid">
    <div class="span3">
        <div class="alert alert-info" style="min-height:110px;">
            <p><span style="font-size:24px;">{{stats.students_pae_requested}}</span> students have had PAEs requested.</p>
            <p><span style="font-size:24px;">{{stats.number_of_pae_requested}}</span> PAEs have been requested overall.</p>
        </div>
    </div>
    <div class="span3">
        <div class="alert alert-info" style="min-height:110px;">
            <p><span style="font-size:24px;">{{stats.number_of_pae_replies}}</span> PAE replies have been received.</p>
            <p><span style="font-size:24px;">{{stats.number_of_pae_issued}}</span> PAEs have been issued by email via this interface.</p>
        </div>
    </div>
    <div class="span3">
        <div class="alert alert-info" style="min-height:110px;">
            <p><span style="font-size:24px;">{{stats.number_of_pae_awaiting_email}}</span> PAE answers have not been emailed.</p>
<!--            <p><a class="btn btn-info" href="/pae/unemailed/email">Email the {{stats.number_of_pae_awaiting_email}} outstanding PAEs</a></p>-->
            <p><a class="btn btn-info" href="/universities">Go to the universities PAE view</a></p>
        </div>
    </div>
    <div class="span3">
        <div class="alert alert-success" style="min-height:110px;">
            {% if current_user.do_admin %}
            <p><a class="btn btn-success" href="/account/{{current_user.id}}" style="min-width:110px;">Account settings</a></p>
            {% endif %}
            <p><a class="btn btn-success" href="/account/logout" style="min-width:110px;">Logout of LEAPS</a></p>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}
