{% extends "leaps/admin/admin-base.html" %}

{% block options %}

{% endblock %}

{% block content %}

<script>
jQuery(document).ready(function() {
    $('.selectall').change(function() {
        var column = $(this).attr('data-column');
        var checked = $(this).is(':checked');
        $('table > tbody > tr').each(function() {
            $(this).find('td').eq(column).find(':checkbox').attr('checked',checked);
        });
    });
});
</script>

      <div class="row-fluid">
        <div class="span12">
            <h1>Export student records</h1>
                        
            <h2>Which fields do you want to export?</h2>
            
            <form action="" method="POST">
            
            {% if query %}
            <input type="hidden" name="query" value="{{query}}">
            {% endif %}

            {% if selected %}
            <input type="hidden" name="selected" value="{{selected}}">
            {% endif %}
            
            <p><input class="btn btn-primary" style="float:right;margin-bottom:10px;" type="submit" name="submit" value="Export the records"></p>

	        <table class="table table-bordered">
	            <thead>
	                <th>Student details <span style="font-weight:normal;">( select all <input type="checkbox" data-column="0" class="selectall"> )</span></th>
	                <th>School details <span style="font-weight:normal;">( select all <input type="checkbox" data-column="1" class="selectall"> )</span></th>
	                <th>More information <span style="font-weight:normal;">( select all <input type="checkbox" data-column="2" class="selectall"> )</span></th>
	                <th>Interview details <span style="font-weight:normal;">( select all <input type="checkbox" data-column="3" class="selectall"> )</span></th>
	            </thead>
	            <tbody>
        	        <tr>
	                    <td><input type="checkbox" name="first_name"> First name</td>
	                    <td><input type="checkbox" name="year"> Year group</td>
	                    <td><input type="checkbox" name="qualifications"> Qualifications</td>
                		<td><input type="checkbox" name="first_attending_university"> First attending university</td>
                    </tr>
        	        <tr>
	                    <td><input type="checkbox" name="last_name"> Last name</td>
	                    <td><input type="checkbox" name="school"> School</td>
	                    <td><input type="checkbox" name="applications"> Applications</td>
                		<td><input type="checkbox" name="early_application"> Early application</td>
                    </tr>
        	        <tr>
	                    <td><input type="checkbox" name="date_of_birth"> Date of birth</td>
	                    <td><input type="checkbox" name="school_house"> School house</td>
	                    <td><input type="checkbox" name="interests"> Interests</td>
                		<td><input type="checkbox" name="looked_after_child"> Care experienced</td>
                    </tr>
        	        <tr>
	                    <td><input type="checkbox" name="scn_number"> SCN number</td>
	                    <td><input type="checkbox" name="local_authority"> Local authority</td>
	                    <td><input type="checkbox" name="experience"> Experience</td>
                		<td><input type="checkbox" name="low_income_family"> Low income family</td>
                    </tr>
        	        <tr>
	                    <td><input type="checkbox" name="ucas_number"> UCAS number</td>
	                    <td><input type="checkbox" name="leaps_category"> LEAPS category</td>
                        <td></td>
                		<td><input type="checkbox" name="young_carer"> Young carer</td>
                    </tr>
        	        <tr>
	                    <td><input type="checkbox" name="gender"> Gender</td>
											<td><input type="checkbox" name="shep_school"> SHEP school</td>
	                    <td><input type="checkbox" name="had_recent_careers_interview"> Had recent careers interview</td>
	                    <td><input type="checkbox" name="asylum_refugee"> Refugee / asylum seeker</td>
	                    <!--<td><input type="checkbox" name="mothers_occupation"> Mothers occupation</td>-->
                    </tr>
        	        <tr>
	                    <td><input type="checkbox" name="address"> Address</td>
	                    <td><input type="checkbox" name="simd_decile"> SIMD decile</td>
                        <td><input type="checkbox" name="additional_qualifications"> Additional qualifications</td>
	                    <td><!--<input type="checkbox" name="fathers_occupation"> Fathers occupation--></td>
                    </tr>
        	        <tr>
	                    <td><input type="checkbox" name="post_code"> Post code</td>
	                    <td><input type="checkbox" name="simd_quintile"> SIMD quintile</td>
                        <td><input type="checkbox" name="issues_affecting_performance"> Issues affecting performance</td>
                		<td><input type="checkbox" name="hn_only_candidate"> HN only candidate</td>
                    </tr>
        	        <tr>
	                    <td><input type="checkbox" name="email"> Email address</td>
	                    <td><input type="checkbox" name="simd_pc"> SIMD %</td>
                        <td><input type="checkbox" name="career_plans"> Career plans</td>
	                    <td><input type="checkbox" name="number_of_siblings"> Number of siblings</td>
                    </tr>

	                <tr>
	                    <td><input type="checkbox" name="home_phone"> Home phone</td>
	                    <td></td>
                        <td><input type="checkbox" name="particular_queries"> Particular queries</td>
	                    <td><input type="checkbox" name="place_in_siblings"> Place in siblings</td>
                    </tr>
                    
                    <tr>
	                    <td><input type="checkbox" name="mobile_phone"> Mobile phone</td>
	                    <td></td>
	                    <td></td>
                		<td><input type="checkbox" name="additional_comments"> Additional comments</td>
                    </tr>
                    
                    <tr>
	                    <td><input type="checkbox" name="id"> Record ID</td>
	                    <td></td>
	                    <td><input type="checkbox" name="status"> Status</td>
	                    <td><input type="checkbox" name="household_composition"> Household composition</td>
                    </tr>

                    <tr>
	                    <td></td>
	                    <td></td>
	                    <td><input type="checkbox" name="archive"> Archive</td>
	                    <td><input type="checkbox" name="main_language_at_home"> Main language at home</td>
                    </tr>

                    <tr>
	                    <td></td>
	                    <td></td>
	                    <td><input type="checkbox" name="created_date"> Created date</td>
	                    <td><input type="checkbox" name="estranged"> Estranged</td>
                    </tr>

                    <tr>
	                    <td></td>
	                    <td></td>
	                    <td><input type="checkbox" name="last_updated"> Last updated</td>
	                    <td>
		                    <input type="checkbox" name="transition_course_taking"> Transitions course - currently taking<br>
		                    <input type="checkbox" name="transition_course_withdrawn"> Transitions course - withdrawal<br>
		                    <input type="checkbox" name="transition_course_credits"> Transitions course - completed with credits<br>
		                    <input type="checkbox" name="transition_course_no_credits"> Transitions course - finished without credits<br>
		                    <input type="checkbox" name="interview_taking_leaps_transition_course"> Transitions course - interview confirmed taking<br>
	                    </td>
                    </tr>

        	        <tr>
	                    <td></td>
	                    <td></td>
	                    <td></td>
	                    <td><input type="checkbox" name="leaps_notes"> LEAPS notes</td>
                    </tr>

        	        <tr>
	                    <td></td>
	                    <td></td>
	                    <td></td>
	                    <td><input type="checkbox" name="simd20"> SIMD 20</td>
                    </tr>

        	        <tr>
	                    <td></td>
	                    <td></td>
	                    <td></td>
	                    <td><input type="checkbox" name="simd40"> SIMD 40</td>
                    </tr>

					<tr>
	                    <td></td>
	                    <td></td>
	                    <td></td>
	                    <td><input type="checkbox" name="had_s5_interview"> Had S5 interview</td>
                    </tr>

					<!-- old ones not used any more -->
            		<!--<td><input type="checkbox" name="law_application"> Law application</td>-->
                    <!--<td><input type="checkbox" name="late_decision_to_apply"> Late decision to apply</td>-->
            		<!--<td><input type="checkbox" name="previous_interview"> Previous interview</td>-->
                    <!--<td><input type="checkbox" name="pae_action"> PAE action</td>-->
                    <!--<td><input type="checkbox" name="summer_school"> Summer school interest</td>-->
                    <!--<td><input type="checkbox" name="summer_school_applicant"> Summer school applicant</td>-->

                </tbody>
            </table>
            
            <p><input class="btn btn-primary" type="submit" name="submit" value="Export the records"></p>
            
            </form>

        </div>

      </div>

{% endblock %}
